<%= render "shared/navbar", {notifs: current_user.recieved_friend_requests} %>
<%= render "shared/flash" %>

<div class="container mt-6">
  <h2 class="title">Edit Profile</h2>
  <%= render "profile_form" %>
</div>
