<%= turbo_frame_tag "like_#{@post.id}" do %>

  <article class="media">
    <%= render "shared/like_unlike", {post: @post, current_user: current_user} %>

    <p class='mx-1'><%= @likes %></p>
  </article>
<% end %>
