<div data-controller="delete">
  <% flash.each do |type, msg| %>
    <% if type == 'notice' %>
      <div class="notification" data-delete-target="source">
        <button class="delete mr-2 mt-3" data-action="delete#delete"></button>
        <strong><%= msg %></strong>
      </div>
    <% else %>
      <div class="notification is-danger" data-delete-target="source">
        <button class="delete mr-2 mt-3" data-action="delete#delete"></button>
        <strong><%= msg %></strong>
      </div>  
    <% end %>
  <% end %>
</div>



