<%= turbo_frame_tag @post do %>
  <div class="card-content">
    <div class="card-content">
      <%= post.body %>

      <% if post.user == current_user %>
        <%= button_to "Edit Post", edit_post_path(post), method: :get %>
      <% end %>
    </div>
  </div>
  
<% end %>
